%h2.ui.center.aligned.large.header
  Welcome to MessageMe -
  %em a complete Chat App
%h4.ui.center.aligned.medium.icon.header
  %i.circular.orange.power.off.tiny.icon
  Log in to continue
.ui.placeholder.segment
  .ui.two.column.very.relaxed.stackable.grid
    .column
      = form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f|
        .field
          %label Username
          .ui.left.icon.input
            = f.text_field :username, :placeholder => "Username", autocomplete: "off"
            %i.user.icon
        .field
          %label Password
          .ui.left.icon.input
            = f.password_field :password_digest, :placeholder => "Password", autocomplete: "off"
            %i.lock.icon
        = f.button "Login", class: "ui orange submit button"
    .middle.aligned.column
      .ui.big.orange.button
        %i.signup.icon
        = link_to "Sign Up", sign_up_path, class: "item"
  .ui.vertical.divider
    Or